<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!-- 1.값지정은 value -->

<!--1)setter 이용하는 방법. id는 콩 종류  , name은 MemberBean(vo)에서 변수명-->
<bean id='member' class="ex1_xml2_ref.MemberBean" >

	<property name="name" value="홍길동"></property>		<!-- setter호출: setName()-->
	
	<property name="age" value="33"></property>		<!--setAge()  -->
	
	<property name="message"><value>오늘도 즐겁게</value></property>
</bean>

<!-- 2)생성자 이용하는 방법, 순서 중요-->
<bean id='member2' class="ex1_xml2_ref.MemberBean">
	<constructor-arg name='name' value='홍길자'></constructor-arg>
	<constructor-arg name='age' value='20'></constructor-arg>
	<constructor-arg name='message' ><value>오늘도 화이팅</value></constructor-arg>	
</bean>




<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- 2.객체지정 : ref -->

<!-- 1)setter 이용 -->
<bean id='dao' class="ex1_xml2_ref.MemberDAO">
	<property name="member" ref='member'></property>  <!--ref: id가 member인 bean을 가져옴 -->
</bean>


<!--2)생성자 이용  -->
<bean id='dao2' class="ex1_xml2_ref.MemberDAO">
	<constructor-arg name='member' ref='member2'></constructor-arg>
</bean>

















</beans>
